

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.frame{
  display: grid;
  grid-template-columns: 6vw auto 50vw;
  grid-template-rows: 380px auto;

  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  z-index: -100;
}

.frame > div{
  border: solid #42567a2f 0.1px;
}

.frame >div.header{
  color: #42567A;
  font-size: 3.1em;
  font-weight: 700;

  display: flex;
  align-items: center;
}
.frame >div.header > div{
  text-align: left;
  width: 200px;
  margin-left: 50px;
}

.frame >div.header > img{
  object-fit: none
}


@media (max-width: 1060px) {
  .frame > div{
    border: none
  }
  .frame >div.header{
    font-size: 2.5em;
  }
  .frame >div.header > img {
    display: none;
  }
}

@media (max-width: 425px) {
  .frame >div.header{
    font-size: 2.5em;
  }
}